@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-pht;
}

.px-global {
  @apply px-5 lg:px-[50px] xl:px-[100px] xxl:px-[200px];
}

.title {
  @apply text-center my-8 md:mt-[52px] md:mb-[30px];
}
.title h1 {
  @apply text-lg md:text-[32px] font-bold text-primary;
}
.title p {
  @apply text-base md:text-2xl text-gray-200 mt-5;
}

.section {
  @apply my-5 lg:my-40;
}
